## Task

In this task you will clean the country column and parse the date column in the **store_income_data_task.csv** file.

Import libraries

In [27]:
import pandas as pd
import numpy as np
import datetime

In [28]:
# Load up store_income_data_task.csv
df = pd.read_csv('store_income_data_task.csv')

1. Take a look at all the unique values in the "country" column. Then, convert the column to lowercase and remove any trailing white spaces.

In [29]:
# Display unique values in the "country" column
pd.DataFrame(
    df['country'].unique(), columns=['Country entries (Raw data)']
)

   Country entries (Raw data)
0              United States/
1                     Britain
2               United States
3                    Britain/
4              United Kingdom
..                        ...
72     S. AfricaSouth Africa
73     S. AfricaSouth Africa.
74      S. AfricaSouth Africa
75                          .
76                    britain

[77 rows x 1 columns]

In [30]:
# Convert "country" column to lowercase and remove trailing white spaces
df['country'] = df['country'].str.lower().str.strip()

# Check data again
pd.DataFrame(df['country'].unique(), columns=['Country entries (Raw data)'])

   Country entries (Raw data)
0              united states/
1                     britain
2               united states
3                    britain/
4              united kingdom
5                        u.k.
6                          sa
7                        u.k/
8                     america
9                         NaN
10                       s.a.
11                    england
12                         uk
13                      s.a./
14                        u.k
15                   america/
16                        sa.
17
18                        uk.
19                   england/
20   united states of america
21                        uk/
22                        sa/
23                   england.
24                   america.
25                      s.a..
26  united states of america.
27  united states of america/
28             united states.
29      s. africasouth africa
30                   britain.
31                          /
32            united kingdom.
33     s. africasouth africa/
34            united kingdom/
35     s. africasouth africa.
36                          .

2. Note that there should only be three separate countries. Eliminate all variations, so that 'South Africa', 'United Kingdom' and 'United States' are the only three countries.

In [31]:
# Find and add variations of the three country names
raw_country_names = {
    'south africa': 'South Africa',
    's. africa': 'South Africa',
    's. africasouth africa': 'South Africa',
    'united kingdom': 'United Kingdom',
    'britain': 'United Kingdom',
    'england': 'United Kingdom',
    'united states': 'United States',
    'united states/': 'United States',
    'united states of america': 'United States',
    'britain/': 'United Kingdom',
    'south africa/': 'South Africa',
}

def clean_countries(val):
    if pd.isnull(val):
        return np.nan
    val = val.lower().strip().replace('/', '')
    for key in raw_country_names:
        if key in val:
            return raw_country_names[key]
    return np.nan

df['country'] = df['country'].apply(clean_countries)

# Display unique names to check if the process worked
print(df['country'].unique())

['United States' 'United Kingdom' nan 'South Africa']

3. Create a new column called `days_ago` in the DataFrame that is a copy of the 'date_measured' column but instead it is a number that shows how many days ago it was measured from the current date. Note that the current date can be obtained using `datetime.date.today()`.

In [32]:
# Convert 'date_measured' to datetime format
df['date_measured_parsed'] = pd.to_datetime(df['date_measured'], dayfirst=True)

# Calculate number of days ago
today = datetime.date.today()
df['days_ago'] = (
    today - df['date_measured_parsed'].dt.date).apply(lambda x: x.days if pd.notnull(x) else None
)

In [33]:
# Sort and display the first few rows to check if process worked
df_sorted = df.sort_values('date_measured_parsed')
df_sorted[['date_measured', 'days_ago']].head()

    date_measured  days_ago
414    18-12-1955     25387
127     27-4-1960     23795
483      7-5-1961     23420
907     27-6-1961     23369
802      4-7-1962     22997

In [34]:
# Also check last few rows 
df_sorted[['date_measured', 'days_ago']].tail()

    date_measured  days_ago
652     13-8-2013      4329
828     24-8-2013      4318
956     19-9-2013      4292
501     3-10-2013      4278
914     1-12-2013      4219

**References**

HyperionDev. (2025a). Data Cleaning and Preprocessing. Course materials. Private repository, GitHub.

NumPy. (2024). numpy.nan. https://numpy.org/doc/stable/reference/constants.html#numpy.nan

pandas. (2024). pandas.isnull. https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.isnull.html

Python Software Foundation. (2024). datetime. https://docs.python.org/3/library/datetime.html

Python Software Foundation. (2024). Lambda expressions. https://docs.python.org/3/tutorial/controlflow.html#lambda-expressions